name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Git Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
  
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: worker/.nvmrc
          cache-dependency-path: worker/package-lock.json
          cache: npm

      - name: Install Dependencies
        working-directory: worker
        run: npm ci

      - name: Deploy Worker
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          workingDirectory: worker
          apiToken: ${{ secrets.CF_API_TOKEN }}
