name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Git Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
  
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: worker/.nvmrc
          cache-dependency-path: worker/package-lock.json
          cache: npm

      - name: Install Dependencies
        working-directory: worker
        run: npm ci

      - name: Deploy Worker
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          workingDirectory: worker
          apiToken: ${{ secrets.CF_API_TOKEN }}
